<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chungld.uikit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.chungld.uikit.IndicatorActivity"
            android:exported="false" />
        <activity
            android:name="com.chungld.uikit.TrpRelativeActivity"
            android:exported="true" />
        <activity android:name="com.chungld.uikit.BadgeViewActivity" />
        <activity
            android:name="com.chungld.uikit.CalendarActivity"
            android:exported="false"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.chungld.uikit.BottomNavigationActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.TabLayoutActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.RatingPointActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.SeekBarActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.FloatActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.SpinnerActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.ChipActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.RatingActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.IconActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.CheckBoxActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.CarcActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.SwitchActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.ButtonActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.SnackBarActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.TextActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.rvadapter.multi.JavaRvMultiTypeActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.rvadapter.single.RvSingleTypeActivity"
            android:exported="true" />
        <activity
            android:name="com.chungld.uikit.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>